a[rel="next"] {
  float: right;
}

#pagination {
  padding-bottom: 20px;
}

a.categories__list-item-link {
    text-transform: capitalize;
}

a.tags__list-item-link {
    text-transform: capitalize;
}

#contact input {
    margin-bottom: 20px;
    width: 300px;
}

#contact button {
  padding: 5px;
  font-weight: bold;
}

#contact-container {
  margin-top: 0px;
}
